.category-wrapper .category-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow: auto;
  border: 1px solid #d8d4d4;
}

.category-table th,
.category-table td {
  padding: 12px;
  text-align: left;
}

.category-table th {
  background-color: #fcfafac0;
  /* color: var(--white-color); */
  color: var(--black-color);
  font-weight: bold;
}

.category-table tr {
  border-bottom: 1px solid var(--bs-border-color);
}

.category-table tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.category-table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-wrapper .category-table .actions-column {
  width: 10%;
  height: auto;
}

.category-wrapper .edit-category-form {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-border-color);
}
