header {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  background: var(--white-color);
  padding: 12px 0;
  /* background-color: aquamarine; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(189, 186, 186); */
}

.header-logo {
  padding: 4px 0;
}

.header-container .nav-bar {
  display: flex;
  margin-top: 0.8rem;
  gap: 5rem;
  width: fit-content;
}

.header-container .nav-bar .nav-list {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.header-container .nav-bar .nav-list a {
  color: black;
  text-decoration: none;
}

.header-container .nav-bar .nav-list .nav-sublinks {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid var(--bs-border-color);
  padding: 0.4rem 0;
  background-color: var(--white-color);
  border-radius: 4px;
  width: fit-content;
  white-space: nowrap;
  font-weight: 500;
  left: -10%;
  top: 130%;
  z-index: 999;
}

.header-container .nav-bar .nav-list .nav-sublinks .sub-links-nav-list {
  padding: 0.2rem 0.8rem;
  transition: all 0.2s;
}

.header-container .nav-bar .nav-list .nav-sublinks .sub-links-nav-list:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.navbar-toggler {
  display: none;
}

.ham-burger-menu {
  display: none;
}

.drop-down-menu {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 999;
  list-style: none;
  background-color: var(--white-color);
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(231, 231, 231, 0.815);
  padding: 10px 2px;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.drop-down-menu .nav-txt {
  padding: 4px 6px;
  color: var(--black-color);
  text-decoration: none;
}

.drop-down-menu .nav-txt:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media (max-width: 1024px) {
  .header-container .nav-bar {
    display: none;
  }
  .ham-burger-menu {
    display: flex;
    justify-content: center;
    margin-right: 4rem;
  }
}
