:root {
  --primary-color: #134d75;
  --second-color: #f6a21e;
  --ternary-color: #5f7d95;
  --black-color: #171717;
  --white-color: #fff;
  --bs-border-color: #dee2e6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* resuable class for text (color,font weight,color)  */
.text-xsmall {
  font-size: 0.875rem;
}

.text-small {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.125rem;
}

.text-large {
  font-size: 1.25rem;
}

.text-xlarge {
  font-size: 2.375rem;
}

.text-blue-primary {
  color: #13508b;
}

.text-gray-primary {
  color: var(--ternary-color);
}

.font-light {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.font-extrabold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

/* common btn class for buttons  */
.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn:hover {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}

/*Table CSS*/

.table-scroll {
  position: relative;
  width: 100%;
  z-index: 0.6;
  margin: auto;
  overflow: auto;
}

.table-scroll table {
  width: 100%;
  min-width: 1000px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-wrap {
  position: relative;
}
.table > thead {
  vertical-align: bottom;
  color: #000;
  overflow: hidden;
  white-space: pre;
  /* text-overflow: ellipsis; */
  width: 100%;
  padding: 0px 15px !important;
  font-size: 12px;
}

.table_data_background {
  background: #fff;
}
.table > tbody {
  font-size: 14px;
}
.table-scroll th,
.table-scroll td {
  /* background: #fff; */
  vertical-align: middle;
  color: #000;
}

/* width */
.table-scroll::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}

/* Track */
.table-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
.table-scroll::-webkit-scrollbar-thumb {
  background: rgb(145, 145, 145);
  border-radius: 1px;
}

/* Handle on hover */
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 145, 145);
}

.table-scroll .sticky-column-1,
.sticky-column-1,
.sticky-column-1 {
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 1;
  /* padding: 15px !important; */
}
.table-scroll .sticky-column-last,
.sticky-column-last {
  width: 80px;
  background: #fff;
}

.table-scroll .sticky-column-4,
.sticky-column-4,
.sticky-column-4 {
  position: sticky;
  background: #fff;
  /* padding: 15px !important; */
}
.table-scroll .sticky-column-5,
.sticky-column-5,
.sticky-column-5 {
  position: sticky;
  left: 3.5rem;
  z-index: 1;
  /* padding: 15px !important; */
  box-shadow: 3px 0px 5px rgba(9, 9, 9, 0.08);
}
.table-scroll .sticky-column-6,
.sticky-column-6,
.sticky-column-6 {
  position: sticky;
  /* padding: 15px !important; */
}
