/* General styles for the table container */
.table-container {
  /* margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9; */
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Styles for the table */
.employee-leave-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-leave-table th,
.employee-leave-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}

.employee-leave-table th {
  background-color: var(--primary-color);
  color: white;
  white-space: nowrap;
  text-align: center;
}

.employee-leave-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employee-leave-table tr:hover {
  background-color: #ddd;
}

.leave-status-table {
  overflow-x: auto;
  border-collapse: collapse;
  background-color: red;
}

.leave-status-table th,
.leaves-status-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  font-size: 2px;
  text-align: center;
}

.leave-status-table th {
  background-color: #f4f4f4;
  font-size: 14px;
  border: 1px solid #ddd;
}

.leave-status-table tr {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  padding: 0 19px;
}

.leave-status-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.leave-status-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .employee-leave-table th,
  .employee-leave-table td {
    font-size: 12px;
    padding: 8px;
  }

  .employee-leave-table {
    font-size: 14px;
    overflow-x: auto;
    display: block;
  }

  .employee-leave-table td {
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .employee-leave-table th,
  .employee-leave-table td {
    font-size: 10px;
    padding: 6px;
  }
}
