.table-container {
  margin: 20px;
}

.overtime-table {
  width: 100%;
  border-collapse: collapse;
}

.overtime-table th,
.overtime-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
}

.overtime-table th {
  background-color: #f4f4f4;
}

.overtime-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.screenshot-thumbnail {
  width: 80px;
  cursor: pointer;
  object-fit: cover;
}

.edit-button {
  background-color: #ffad33;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #ff9800;
}

.edit {
  background-color: rgba(255, 255, 255, 0.589);
}
