.tabs-container .tabs-header {
  display: flex;
  justify-items: center;
  gap: 1.2rem;
  background-color: white;
  padding: 0.6rem 0.8rem 0 1.5rem;
  border: 1px solid var(--bs-border-color);
}
.tabs-container .tabs-header button {
  outline: none;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0rem 0.8rem 0.9rem 0.8rem;
  width: fit-content;
}
.tabs-container .tabs-header button.active-tab {
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 0%;
}
