.vacancy-card {
  box-shadow: 2px 2px 8px #cbcfcf9c;
  border: 1px solid var(--bs-border-color);
}

.vacancy-card .action-btn {
  padding: 0.2rem 0.8rem;
}

.vacancy-card .action-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
